
:root {
    --cashmere:#cbc5c1;
    --frenchblue: #a2aab0;
    --whitewash: #ebeced;
    --denim: #4c586f;
    --gunmetal: #3e3e3b;
  

}



.spare {
    background: -moz-linear-gradient(270deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 24%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(235,236,237,1)), color-stop(24%, rgba(235,236,237,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 24%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 24%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 24%, rgba(0,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 24%, rgba(0,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeced', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
    
}

.atf-background{
    height: 300px;
    background: -moz-linear-gradient(270deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 24%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(235,236,237,1)), color-stop(24%, rgba(235,236,237,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 24%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 24%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 24%, rgba(0,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(180 deg, rgba(235,236,237,1) 0%, rgba(235,236,237,1) 24%, rgba(0,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeced', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
    
}
   
.features-background{
    height: 300px;
    background: var(--cashmere);
    display: flex;

}

.pricing-background {
    height: 400px;
    background: var(--whitewash)
}

header {
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 1px 6px #cbc5c1;
    background: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

.header-img-holder {
    margin-right: auto;
    flex-grow: 3;
    margin-bottom: 15px;
}
.header-img {
  height: 80%;
  margin-left: 5%;
}
.nav-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: baseline;
    justify-content: center;
    color: var(--denim);
    text-transform: capitalize;
    letter-spacing: 1;
    
}
.nav-link{
    padding: 5px;
    margin-right: 5px;
    text-decoration: none;
    color:inherit;
    letter-spacing: inherit
    

}
.nav-link:hover{
    color:grey;
}

.btn-signup{
    height: 45px;
    width: 80px;
    margin: 20px;
    color: inherit;
    letter-spacing: inherit;
    background: transparent;
    border-radius: 5px;
    border: 1.5px solid rgba(45, 116, 109, 0.356);
    box-shadow: 0 5px 12px rgba(50,50,93,.1), 0 5px 8px rgba(0,0,0,.07);
}
.btn-signup:hover{
    box-shadow: 0 7px 18px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
    transform: translateY(-.5px);
}

.page-content {
    margin-top: 70px;
  }


.cta {
    color: var(--denim);
    text-align: center;
    letter-spacing: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-header{
    margin-top: 40px;
}


/*hack to handle the fixed header */
.features-anchor{
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

@media (max-width: 700px){
    #features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    }
    
}
#features{
    display: flex;
    align-items: center;
}

.pricing-anchor{
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

